.About{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    color: #ffffff;
    background-color: #FF0000;
    font-family: 'Garaje_Mid_0503_Book_205TF';

    .Language{

        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 80vw;

        button{
            color: #ffffff;
            font-family: 'Garaje_Mid_0503_Bold_205TF';
            border: none;
            outline: none;
            background: none;
            box-shadow: none;
            cursor: pointer;
            margin: 0;
            padding: 0;
            font-size: 20px;
            p {
                font-family: 'Garaje_Mid_0503_Bold_205TF';
            }
        }


    }

    .Texts{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 80vw;

        h2{
            font-family: 'Garaje_Mid_0503_Bold_205TF';
            font-size: 32;
            padding: 0;
            margin-bottom: 1zem;
        }

        p {
            font-family: 'Garaje_Mid_0503_Book_205TF';
            font-size: 24px;
            padding: 0;
            margin: 0;
        }

    }


}