@font-face {
  font-family: 'Garaje_Mid_0503_Black_205TF';
  src: url('./typeface/Garaje_Mid_0503_Black_205TF.woff2') format('woff2'),
       url('./typeface/Garaje_Mid_0503_Black_205TF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Garaje_Mid_0503_Bold_205TF';
  src: url('./typeface/Garaje_Mid_0503_Bold_205TF.woff2') format('woff2'),
       url('./typeface/Garaje_Mid_0503_Bold_205TF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Garaje_Mid_0503_Medium_205TF';
  src: url('./typeface/Garaje_Mid_0503_Medium_205TF.woff2') format('woff2'),
       url('./typeface/Garaje_Mid_0503_Medium_205TF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Garaje_Mid_0503_Book_205TF';
  src: url('./typeface/Garaje_Mid_0503_Book_205TF.woff2') format('woff2'),
       url('./typeface/Garaje_Mid_0503_Book_205TF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
